@page
@model RazorPagesLinked.Pages.Linked3.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FeedBack</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            <div class="form-group">
            <label asp-for="FeedBack.TotalScore" class="control-label"></label>
            <input asp-for="FeedBack.TotalScore" class="form-control" />
            <span asp-validation-for="FeedBack.TotalScore" class="text-danger"></span>
            </div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
