@page
@model Linked.Pages.Technicians.CreateModel
@using Linked.Models;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Technician</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Technician.Name" class="control-label"></label>
                <input asp-for="Technician.Name" class="form-control" />
                <span asp-validation-for="Technician.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Technician.Birthday" class="control-label"></label>
                <input asp-for="Technician.Birthday" class="form-control" />
                <span asp-validation-for="Technician.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Technician.Role" class="control-label"></label>
                <select asp-for="Technician.Role" class="form-control" asp-items="Html.GetEnumSelectList<Role>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="Technician.Level" class="control-label"></label>
                <select asp-for="Technician.Level" class="form-control" asp-items="Html.GetEnumSelectList<Level>()"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
